{% extends "layout.html" %}

{% block content %}
    <!-- Page Content -->
    <div class="container text-gray-300">
        <div class="row">
            <h2 class="m-2 col-auto">{{ member.name }}  </h2>
            <div class="col-auto">
                <a href="/member_edit/{{ member.id }}" class="btn btn-outline-primary m-2" role="button"
                   aria-pressed="true">Επεξεργασία</a>
                <a href="/member_delete/{{ member.id }}" class="btn btn-outline-danger m-2"
                   onclick="return confirm('Σίγουρα θέλετε να διαγράψετε το μέλος {{ member.name }}')"
                   role="button"
                   aria-pressed="true">Διαγραφή</a>
            </div>
        </div>

        <div class="row">

            <div class="col-md-5">
                <h5 class="text-white ">{{ member.phone }}</h5>
                <h5 class="text-white">{{ member.email }}</h5>
                <ul class="social">
                    {% if member.facebook %}
                        <li><a href="{{ member.facebook }}" class="facebook" title="Facebook"><i
                                class="fab fa-facebook"></i></a>
                        </li>
                    {% endif %}
                </ul>

                <h3>Εκπομπές</h3>
                <ul>
                    {% for show in member.shows %}
                        <li><a href="/show/{{ show.id }}"
                               title="Δείτε περισσότερα">{{ show.name }}</a>
                        </li>
                    {% endfor %}


                </ul>
            </div>


        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->






{% endblock %}