{% extends "layout.html" %}

{% block content %}

    <div class="justify-content-center row">
        <div class="col-12">
            <div class="card border-primary ">
                <div class="card-header text-white bg-primary ">
                    Προσθέστε/Ενημερώστε Μέλος
                </div>
                <div class="card-body">
                    <form name="form" action="/member_submit" id="form" class="form-horizontal"
                          enctype="multipart/form-data"
                          method="POST">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            {{ form.name.label }}
                            {{ form.name(class_="form-control") }}
                        </div>

                        <div class="form-group">
                            {{ form.display_name.label }}
                            {{ form.display_name(class_="form-control") }}
                        </div>

                        <div class="form-group">
                            {{ form.bio.label }}
                            {{ form.bio(class_="form-control") }}
                        </div>

                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class_="form-control") }}

                        </div>

                        <div class="form-group">
                            {{ form.facebook.label }}
                            {{ form.facebook(class_="form-control") }}
                        </div>

                        <div class="form-group">
                            {{ form.phone.label }}
                            {{ form.phone(class_="form-control") }}
                        </div>

                        <div class="imgUp">
                            <img class="imagePreview m-2"
                                 src="{{ form.avatar }}"/>

                            <label class="btn btn-primary btn-primary_upload">
                                Upload your Avatar<input type="file" class="uploadFile img" value="Upload Avatar"
                                                       name="member_avatar" id="member_avatar"
                                                       style="width: 0px;height: 0px;overflow: hidden;">

                            </label>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" class="btn btn-outline-success pull-right"><i
                                        class="fa fa-log-in"></i> Καταχώριση
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
