{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container text-gray-300">
        <div class="row m-2">
            <!-- Portfolio Item Heading -->
            <h2 class="m-2 col-auto">{{ tag.name }}  </h2>
            <div class="col-auto">
                <a href="/tag_edit/{{ tag.id }}" class="btn btn-outline-primary m-2" role="button"
                   aria-pressed="true">Επεξεργασία</a>
                <a href="/tag_delete/{{ tag.id }}" class="btn btn-outline-danger m-2"
                   onclick="return confirm('Σίγουρα θέλετε να διαγράψετε την κατηγορία {{ tag.name }}')"
                   role="button"
                   aria-pressed="true">Διαγραφή</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <h3>Άρθρα</h3>
                <ul>
                    {% for articles in tag.articles %}
                        <li><a href="/article/{{ articles.id }}"
                               title="Δείτε περισσότερα">{{ articles.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h3>Εκδηλώσεις</h3>
                <ul>
                    {% for event in tag.events %}
                        <li><a href="/event/{{ event.id }}"
                               title="Δείτε περισσότερα">{{ event.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}